<div>
    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/La_Galerie_des_Pavillons_du_Mus%C3%A9e_Maritime_de_La_Rochelle_%2817%29.JPG/1024px-La_Galerie_des_Pavillons_du_Mus%C3%A9e_Maritime_de_La_Rochelle_%2817%29.JPG" style="width:100%"/>
    <h4 class="display-8 p-3 mb-2 bg-info text-white text-right">Bassin à flot histoire et témoignages</h4>
</div>


<div class="container">
    <div class="row justify-content-center">

        <div class="col-6 text-center">
            <h4>Ouverture</h4>
            <p> Aujourd'hui 9h - 19h</p>
            <p> Mercredi 9h - 19h</p>
            <p> Jeudi 9h - 19h</p>
        </div>

        <div class="col-6 text-center">
            <h4>Météo</h4>
            <p>La Rochelle 5°C</p>
        </div>
    </div>

</div>
