<head>
    <link rel="stylesheet" href="menu-bas.component.css" />
</head>

<div id="spacing" style="height: 55px;"></div>
<div id="menu_bas" class="row fixed-bottom bg-light p-2">


    <a [routerLink]="['/bateaux']" class="col text-center">
        <img src="..\assets\img\boats.png" alt="Icone de bateau" width="48" height="46" />
    </a>

    <a [routerLink]="['/']" class="col text-center">
        <img src="..\assets\img\home.png" alt="Icone d'accueil" width="50" height="50" />
    </a>

    <a [routerLink]="['/galerie']" class="col text-center">
        <img src="..\assets\img\gallery.png" alt="Icone de galerie" width="50" height="50" />
    </a>
</div>